/******************************TAG SELECTORS******************************/
h1 {
  color: #66BFBF;
  font-size: 100px;
}

h3 {
  color: #66AABF;
}

body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

img:hover {
  background-color: gold;
}

/******************************CLASS SELECTORS******************************/
.selfie {
  background-color: #FFFFFF;
}

.circular {
  border-radius: 50%;
}
